<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/aop  
           http://www.springframework.org/schema/aop/spring-aop.xsd">

	<bean id="assetService" class="com.hand.service.AssetService" />
	<bean id="userService" class="com.hand.service.UserService" />
	<bean id="check" class="com.hand.service.aspect.Check" />

	<aop:config>
		<aop:aspect id="myAop" ref="check">
			<aop:pointcut id="target"
				expression="execution(* com.hand.service.*.add(String,String))" />
			<aop:before method="checkValidity" pointcut-ref="target" />
			<aop:after method="addLog" pointcut-ref="target" />
		</aop:aspect>
	</aop:config>

</beans>